@import "../../../styles/_common.scss";
@import "../../../styles/_variables.scss";

.page-heading {
  @extend %page-heading;
}

.main-container {
  padding: 2%;
}

.inner-container{
  padding-top: 3%;
  min-height: 35rem;

  .no-padding{
    padding: 0;
  }

}

.btn-secondary{
  @extend %btn-secondary
}

.create-btn{
  margin: 3% 0;
}
