<div class="main-container">

  <div class="text-center page-heading">
    <img class="heading-image" src="../../../assets/images/bar-chart.png" alt="Bar Chart">
    Create new bar chart
  </div>

  <div class="container inner-container">
    <div class="row">
      <div class="col-sm">
        <div class="text-center inner-header">
          <span class="sub-headings">Select a File to create a bar chart</span>
        </div>
        <div class="fu-container">
          <app-file-selector (onFileSelected)="onFileSelected($event)"></app-file-selector>
        </div>
      </div>

      <div class="col-sm" *ngIf="showDataFields">
        <div class="text-center inner-header">
          <span class="sub-headings">Select your configurations</span>
        </div>
        <form novalidate [formGroup]="barChartForm" (ngSubmit)="onSubmit(barChartForm.value, barChartForm.valid)">

          <div class="row">
            <div class="col-sm-5 field-label">
              <span>Select value for X-Axis on bar chart</span>
            </div>

            <div class="col-sm-7">
              <mat-form-field>
                <mat-select formControlName="xaxis" placeholder="X-Axis Value">
                  <mat-option *ngFor="let field of this.fileData.meta.fields" [value]="field">
                    {{ field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="barChartForm.controls.xaxis.invalid">X-Axis is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 field-label">
              <span>Select value for Y-Axis on bar chart</span>
            </div>

            <div class="col-sm-7">
              <mat-form-field>
                <mat-select formControlName="yaxis" placeholder="Y-Axis Value">
                  <mat-option *ngFor="let field of this.fileData.meta.fields" [value]="field">
                    {{ field }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="barChartForm.controls.yaxis.invalid">Y-Axis is required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="text-center">
            <button mat-raised-button color="primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-chart-result *ngIf="chartData" [chartData]="chartData"></app-chart-result>

</div>



