@import "../../../styles/_common.scss";
@import "../../../styles/_variables.scss";

.sub-headings{
  @extend %sub-heading;
}

.main-container {
  padding: 2%;
  background: white;
  width: 90%;
  margin: auto;
  margin-top: 1%;
}

.save-btn{
  margin: 3% 0;
}

.editor-content{
  text-align: initial;
}
