doctype html
html(lang="en")
    head
        title Charts
        style.
            body {text-align: center;}
            img {margin: 1% 0}
    body
        h1 Your Information
        div
            img(src=#{chart})
            p #{contentTxt}