<div class="main-container">
  <div class="text-center page-heading">Select type of chart</div>

  <div class="type-container">


    <mat-card  routerLink="../createBarCharts" class="type-card text-center">
      <img mat-card-image class="card-image" src="../../../assets/images/bar-chart.png" alt="Bar Chart">
      <mat-card-content>
        <p>Bar Chart</p>
      </mat-card-content>
    </mat-card>

    <mat-card routerLink="../createLineCharts" class="type-card text-center">
      <img mat-card-image class="card-image" src="../../../assets/images/line-chart.png" alt="Line Chart">
      <mat-card-content>
        <p>Line Chart</p>
      </mat-card-content>
    </mat-card>

    <mat-card routerLink="../createPieCharts" class="type-card text-center">
      <img mat-card-image class="card-image" src="../../../assets/images/Pie-Chart-icon.png" alt="Pie Chart">
      <mat-card-content>
        <p>Pie Chart</p>
      </mat-card-content>
    </mat-card>

    <mat-card routerLink="../createDonutCharts" class="type-card text-center">
      <img mat-card-image class="card-image" src="../../../assets/images/donut-chart.png" alt="Donut Chart">
      <mat-card-content>
        <p>Donut Chart</p>
      </mat-card-content>
    </mat-card>

  </div>

</div>


