//Google font ROBOTO
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$font-stack: 'Roboto', sans-serif;

$logo-font: 'Indie Flower', cursive;

$primary-color: #4052AF;

$secondary-color: #00695C;

$background: #ECEFF1;
